
.spotsContainer {
    /* background-color: aquamarine; */
    
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}

    .spotCard {
        background-color: rgb(45, 53, 49);
        width: 30%;
        height: fit-content;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        margin: 2px;
        padding: 5px;
        cursor: pointer;
    }

        .spotCard > img {
            height: auto;
            width: 100%;
        }

        .locationStars {
            display: flex;
            flex-direction: row;
        }

            .starContainer {
                display: flex;
                margin-left: 30px;
            }

                .starContainer > img {
                    height: 15px;
                    margin-right: 5px;
                }