
.singleSpotImageContainer {
    display: flex;
    flex-direction: row;
}

    .singleSpotImageContainer > img {
        width: 45%;
        padding: 5px;
        object-fit: cover;
    }

    .singleSpotImageContainerB {
        display: flex;
        flex-wrap: wrap;
    }

        .singleSpotImageContainerB > img {
            width: 40%;
            height: 45%;
            object-fit: cover;
            padding: 5px;
        }
    
    .singleSpotBottomThird {
        display: flex;
        flex-direction: row;
        margin-top: 10px;
        align-self: center;
        border-bottom: 3px solid grey;
    }

        .hostInfoSpotDescription {
            /* border: 3px solid pink; */
            width: 45%;
            /* margin-left: 10px; */
            padding-left: 15px;
        }

    .calloutBox {
        /* border: 3px solid yellow; */
        width: 40%;
        /* border: 2px solid grey; */
        padding: 5px;
        display: flex;
        flex-direction: column;
        background-color: rgb(158, 245, 196);
        margin-bottom: 10px;
    }

        .calloutBoxUpper {
            display: flex;
            align-items: baseline;
            justify-content: space-around;
            margin-bottom: 2%;
        }

            .starBox {
                /* border: 2px solid green; */
                display: flex;
                align-items: baseline;
            }

            .starBox > img {
                height: 20px;
                margin: 2px;
            }

            