/* TODO: Add sitewide styles */

body {
    font-family: monospace, serif;
    font-size: 16px;
    color:rgb(79, 165, 136);
    background-color: rgb(30, 35, 33);
}

div.header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

}

    

    #authButtonContainer {
        width: fit-content;
        display: flex;
        justify-content: end;
        align-items: center;
    }

    .logo-container {
        display: flex;
        flex-direction: row;
        align-items: center;
    }

        #logo {
            width: auto;
            height: 50px;
            margin-top: 1.5%;
            margin-left: 10px;
            cursor: pointer;
        }

        .logo-container > h1 {
            margin-left: 10px;
        }

        .profile-button {
            height: 40px;
            width: 40px;
            margin-right: 10px;
            margin-left: 20px;
            cursor: pointer;
        }
